[submodule "cimgui"]
	path = imgui_dll/cimgui
	url = https://github.com/cimgui/cimgui.git
	branch = master
[submodule "imnodes_dll/ImNodes"]
	path = imnodes_dll/ImNodes
	url = https://github.com/rokups/ImNodes.git
[submodule "third_party/dear_bindings"]
	path = third_party/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
