[submodule "third_party/dear_bindings"]
	path = third_party/dear_bindings
	url = https://github.com/dearimgui/dear_bindings.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
